TOKEN=YOUR BOT TOKEN
PREFIX=-
OWNER_ID=YOUR ID
LAVA_HOST=localhost
LAVA_PORT=2333
LAVA_PASS=youshallnotpass
ENABLE_SPOTIFY=false
# you will need these if you enabled spotify
SPOTIFY_ID=YOUR SPOTIFY CLIENT ID
SPOTIFY_SECRET=YOUR SPOTIFY CLIENT SECRET
SPOTIFY_PLAYLIST_PAGE_LIMIT=4
